.NavigationItem {
  margin: 1rem 1rem;
  box-sizing: border-box;
  display: block;
  width: 100%;
  align-items: center;
  align-items: center;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  line-height: 1.8;
  font-weight: 500;
  font-size: 2.5rem;
}

.NavigationItem a {
  color: var(--color-white);
  text-decoration: none;
  box-sizing: border-box;
  padding: 1rem 0;
  display: block;
  text-align: left;
  border-bottom: 2px solid transparent;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  border-bottom: 2px solid var(--color-white);
}

@media (min-width: 992px) {
  .NavigationItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    line-height: 1.7;
    font-weight: 200;
    font-size: 1.7rem;
  }

  .NavigationItem a {
    color: var(--color-white);
    height: 100%;
    padding: 0.5rem 0.5rem;
    margin-right: 4rem;
    border-bottom: 2px solid transparent;
  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    border-bottom: 2px solid var(--color-white);
    color: var(--color-white);
  }
}