.SideNavBar {
  display: flex;
  flex-direction: column;
  width: 10%;
  min-width: 25rem;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-image: linear-gradient(to right bottom, var(--main-gradient-2), var(--main-gradient-2)), url(../../../assets/images/login-background.jpg);
  overflow: auto;
}