.Dashboard{
  &__Body{
    transition: all 500ms;
    width: 100%;
    max-width: 100vw;
    // background-color: var(--color-Grey-light-3);
    overflow: hidden;
  }
}

.No__Slide-Dashboard {
  padding-left: 0rem;
}

.Slide-Dashboard{
  padding-left: 25rem;
}

@media (max-width: 1180px) {
  .Slide-Dashboard{
    padding-left: 0;
  }
}