.OutlinedButton {
    display: inline-block;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.7rem;
    color: var(--color-white);
    cursor: pointer;
    border: 2px solid var(--color-Primary-dark);
    padding: 0.7rem 2.5rem;
    background: var(--color-Primary-dark);
    transition: all 0.3s;
}

.OutlinedButton:hover {
    background: transparent;
    box-shadow: var(--shadow-light);
    color: var(--color-Primary-dark);
    border: 2px solid var(--color-Primary-dark);
}

.OutlinedButton:focus{
    outline: none;
    -webkit-animation-name: clicked; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.4s; /* Safari 4.0 - 8.0 */
    animation-name: clicked;
    animation-duration: 0.4s;
}

@keyframes clicked {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0)
    }
}