.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1
}

.manuItems {
  display: flex;
  flex-flow: row;
  align-items: center;
}

// @media (min-width: 501px) {
//   .NavigationItems {
//     flex-flow: row;
//     align-content: space-between;
//   }

//   .manuItems {
//     flex-flow: row;
//   }
// }