.NavigationItem {
  margin: 10px 30px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  align-items: center;
}

.NavigationItem a {
  color: #8f5c2c;
  margin-right: 6px;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: #40A4c8;
}

@media (min-width: 501px) {
  .NavigationItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    line-height: 1.7;
    font-weight: 300;
    font-size: 1.5rem;
  }

  .NavigationItem a {
    color: var(--color-white);
    height: 100%;
    padding: 4px 4px;
    margin-right: 4rem;
    border-bottom: 2px solid transparent;
  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    border-bottom: 2px solid #40A4c8;
    color: white;
  }
}