.Auth {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/images/purple-back.png');
    background-size: cover;
}

.Auth__Container {
    // background: white;
    display: flex;
    flex-direction: row;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.349);
    width: 75vw;
    height: 70vh;
    margin: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 3rem;

    &--SVG {
        width: 50%;
    }

    &--Login {

    }
}

@media (max-width: 772px) {
    .Auth__Container{
        width: 70vw;
        height: 70vh;
        
        &--SVG{
            display: none;
        }
    }
}

@media (max-width: 992px) {
    .Auth__Container{
        width: 80vw;
        height: 75vh;
        
        &--SVG{
        }
    }
}