.InputAndButton {
    width: 100;
    display: flex;
    flex-direction: row;
    font-family: 'Karla', sans-serif;
    margin-top: 2rem;

    input {
        font-size: 1.5rem;
        font-weight: 300;
        flex-grow: 3;
        padding: 1rem;
        outline: none;
        border: none;
        background: rgba(97, 97, 97, 0.295);
        border: 1px solid var(--color-light-font);
        color: var(--color-Grey-light-4);
        -webkit-appearance: none;
        -webkit-border-radius: 0;
        border-radius: 0;

        &::placeholder {
            color: var(--color-light-font);
        }
    }

    input:focus {
        flex-grow: 5;
        transition: all 300ms;
    }

    button {
        flex-grow: 1;
        outline: none;
        border: none;
        background-color: transparent;
        background: var(--color-greenish);

        color: var(--color-Primary-dark);
        border: 1px solid var(--color-light-font);
        font-size: 1.6rem;
        font-weight: bold;
        transition: all 300ms;
    }

    button:hover {
        cursor: pointer;
        background: var(--color-white);
        color: var(--color-Primary-dark);
        flex-grow: 2
    }
}

@media (max-width: 991px) {
    .InputAndButton {

        .input {
            flex-grow: 05;
        }

        input:focus {
            flex-grow: 05;
            transition: all 300ms;
        }

        .button {
            flex-grow: 1;
        }

        button:hover {
            flex-grow: 1;
        }
    }
}