:root {
  // Primary color for website buttons, background, text color etc.
  --color-primary: #6444e4;
  --color-Primary-light: #3f289b;
  --color-Primary-dark: #342961;
  --color-Primary-transparent: #382c6a82;
  --color-Grey-light-1: #f7f7f7;
  --color-Grey-light-2: #f4f2f2;
  --color-Grey-light-3: #f0eeee;
  --color-Grey-light-4: #ccc;
  --color-greenish: rgb(99, 136, 99);
  --color-Primary-red: #DC3545;
  --color-warning: #ff9800;
  // text colors mostly
  --color-Grey-dark-1: #333;
  --color-Grey-dark-2: #777;
  --color-Grey-dark-3: #999;
  --color-light-font: #9791AE;

  // main colors
  --color-black: #000;
  --color-white: #fff;

  // shadow and lines
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.301);
  --line: 1px solid var(--color-Primary-transparent);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.144);

  // white background color with transparency
  --white-transparent-dark: rgba(255, 255, 255, 0.95);
  --white-transparent-medium: rgba(255, 255, 255, .8);
  --white-transparent-light: rgba(255, 255, 255, 0.164);
  // main theme color with transparency
  --main-gradient-1: rgba(42, 8, 70, 0.822);
  --main-gradient-2: rgba(29, 1, 75, 0.856);
}


$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px

$default-font-size: 1.6rem;

* {
  margin: 0;
  padding: 0;

}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;

  /* Change the white to any color ;) */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--color-Grey-light-4) inset !important;
  }

  // helper text for input
  .MuiFormHelperText-root {
    font-size: 1rem !important;
    font-weight: 100 !important;
    line-height: normal !important;
    margin: 0 !important;
    margin-top: 4px !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {}