:root {
  // Primary color for website buttons, background, text color etc.
  --color-primary: rgb(60, 179, 60);
  --color-Primary-light: rgb(147, 212, 94);
  --color-Primary-dark: rgb(48, 137, 64);
  --color-Grey-light-1: #f7f7f7;
  --color-Grey-light-2: #f4f2f2;
  --color-Grey-light-3: #f0eeee;
  --color-Grey-light-4: #ccc;

  // text colors mostly
  --color-Grey-dark-1: #333;
  --color-Grey-dark-2: #777;
  --color-Grey-dark-3: #999;

  // main colors
  --color-black: #000;
  --color-white: #fff;

  // shadow and lines
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --line: 1px solid var(--color-Grey-light-2);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);

  // white background color with transparency
  --white-gradient-1: rgba(255, 255, 255, 0.95);
  --white-gradient-2: rgba(255, 255, 255, .8);

  // main theme color with transparency
  --main-gradient-1: rgba(189, 249, 139, 0.6);
  --main-gradient-2: rgba(131, 220, 57, 0.8);
}


$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px

$default-font-size: 1.6rem;

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  /* Change the white to any color ;) */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

}