.SideDrawer{
    position: fixed;
    width: 28rem;
    max-width: 70%;
    height: 100vh;
    right: 0;
    top: 0;
    z-index: 200;
    background-color: var(--color-black);
    padding: 3.2rem 1.6rem 4rem 1.6rem;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__Logo{
        text-transform: uppercase;
        color: var(--color-white);
        font-weight: 900;
        font-size: 2.2rem;
        font-family: 'Righteous';
        letter-spacing: .2rem;
        margin-right: 6rem;
        margin-bottom: 6rem;
    }
  }
  
  @media (min-width: 992px) {
    .SideDrawer{
      display: none;
    }
  }
  
  .Open{
    transform: translateX(0%)
  }
  
  .Close{
    transform: translateX(100%)
  }
  