//
////Login - Container
//
.login {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

//
//// Login page left side
//
.login__left {
    background-color: var(--color-Grey-dark-1);

    //
    //// background Image
    //
    &--image {
        background-image: linear-gradient(to right bottom, var(--main-gradient-1), var(--main-gradient-2)), url(../../assets//login-background.jpg);
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom-right-radius: 40%;
    }

    &--moreInfo {
        position: relative;
        bottom: 70px;
        left: 90%;
        font-size: 4rem;
        color: var(--color-Primary-light);
        border-radius: 50%;
        opacity: 0.9;
        cursor: pointer;
    }
}

//
//// Login right
//
.login__right {
    height: 100vh;
    background-image: linear-gradient(var(--white-gradient-1) 0, var(--white-gradient-2) 75%), url(../../assets/background-image.png);
    background-size: cover;

    //
    //// Company Logo
    //
    &--logo {
        text-align: center;

        img {
            width: 20rem;
        }
    }

    //
    //// more info icon - only visible for mobile device. For bigger screen "login__left-moreInfo will appear
    //
    &--moreInfo {
        position: relative;
        visibility: hidden;
        bottom: 45px;
        left: 5%;
        font-size: 4rem;
        color: var(--color-Primary-dark);
        border-radius: 50%;
        opacity: 0.9;
        cursor: pointer;
    }
}

// 
// // Forgot Password modal content styling
//

.fogot__password{
    font-size: 1.2rem !important;
    font-weight: 400 !important;
    padding: 1rem;
    .heading-tertiary {
        text-align: center;
        padding: 1rem;
    }

    p {
        color: var(--color-Grey-dark-2);
    }
}

//
//// sign-up form
//
.login__right--signup {
    text-align: left;
    width: 100%;
    padding: 0 3rem;

    span {
        font-size: 1.6rem;
    }
}

.login__right--signup-form>* {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

//
// // Auth page login right
//
.login__right--signin {
    text-align: left;
    width: 100%;
    padding: 0 3rem;

    span {
        font-size: 1.6rem;
    }

    .rememberMe{
        font-size: 1.6rem !important;
        color: var(--color-Grey-dark-2);
        font-weight: 200 !important;
        display: inline;
        padding-left: 2.5rem;
        cursor: pointer;
        &:hover{
            font-weight: 400 !important;
            color: var(--color-Primary-dark);
        }
    }
}

.login__right--signin-form>* {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

//
//// Login/Sign up toggle span text style
.login-signup__toggle {
    cursor: pointer;
    outline: none;
}

//
//// "Terms and Condiation" text
//
.terms__condition {
    font-size: 1.6rem !important;
    font-weight: 200 !important;
    display: inline;
    padding-left: 2.5rem;
    cursor: pointer;
    span {
        text-decoration: underline;
        color: var(--color-Primary-dark);
        margin-left: 3px;
        font-weight: 600 !important;

        &:hover {
            transform: scale(1.2);
            text-shadow: var(--shadow-dark);
        }
    }
}

//
//// Style overwrite
//
.MuiInputBase-input {
    font-size: 1.6rem !important;
    font-weight: 200 !important;
}

.MuiInputLabel-filled {
    color: var(--color-Grey-dark-2) !important;
    font-size: 1.2rem !important;
    font-weight: 300 !important;
}

.MuiFilledInput-underline:after {
    border-bottom: 3px solid var(--color-Primary-dark) !important;
}

.MuiFormControl-marginNormal {
    margin-top: 0 !important;
}

.MuiInputBase-input {
    line-height: 1.4rem !important
}

// Input underline transition
.MuiFilledInput-underline:after {
    transition: transform 800ms cubic-bezier(0.0, 0, 0.2, 1) 0ms !important;
}

//
//// Media Queries
//
@media (orientation: landscape) {
    .login {
        min-height: 100vh;
        height: 100%;
    }

    .login__left {
        height: 100%;
    }

    .login__left--image {
        height: 100%;
    }
}


@media (max-width: 601px) {
    .login {
        max-height: 100vh;
        max-width: 100vw;
    }

    .login__right--signup-form>* {
        margin: 1rem auto !important;
    }

    .login__right--moreInfo{
            visibility: visible;
    }
    
}

@media (max-width: 601px) and (orientation: landscape) {
    .login__right {
        width: 100vw;
        height: 100%;

    }
}

@media (max-width: 992px) {
    .login__left--moreInfo {
        left: 86%;
        bottom: 50px
    }
}

//
//// Default Checkbox input Style override 
//
input[type="checkbox"] {
    opacity: 0;
}

.checkbox__mock{
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-white);
    border-radius: 5px;
    border: 1.5px solid var(--color-Primary-dark);
    text-align: center;
    &--icon{
        color: var(--color-white);
    }
}

input[type="checkbox"]:checked ~ .checkbox__mock {
    background-color: var(--color-Primary-dark);
    border-radius: 5px;
    opacity:1;
}


